{% extends "base.html" %}
{% block title %}{% if object %}编辑分类{% else %}新建分类{% endif %}{% endblock %}
{% block main %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card p-4">
                <h4 class="text-primary mb-4"><i class="fas fa-plus icon-placeholder"></i>{% if object %}编辑{% else %}新建{% endif %}分类</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">保存</button>
                        <a href="{% url 'chat:category_list' %}" class="btn btn-secondary">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}